# macOS system files
.DS_Store

#csv files
*.csv

# Compiled Python files
__pycache__/

# Ignore everything inside the specified folders
Data/Processed/*
Data/External/*
FEWSNET_World_Admin/*

# Allow all .md files at any depth inside these folders
!Data/Processed/
!Data/External/
!FEWSNET_World_Admin/

!Data/Processed/**/*.md
!Data/External/**/*.md
!FEWSNET_World_Admin/**/*.md